<style>
    header  h1 {
        text-align: center !important;
    }

    header ul > li {
        width: auto !important;
        min-height: 15px !important;
        height: auto !important;
        line-height: 1.2em !important;
    }

    section h1 {
        margin: 36px 0 18px !important;
    }

    section p {
        margin: 0 0 12px !important;
    }

    h2 {
        margin: 0 0 10px !important; 
        border-bottom: 0px !important;
    }

    h4 {
        margin: 10px 0 10px !important; 
        color: #555555 !important;
        font-family: inherit !important;
    }
</style>