<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.me.name }} {{ site.me.surname }}</h1>
        <p class="header">{{ site.me.profession-summary }}</p>

        <ul>
          <li><a class="buttons" href="{{ site.me.links.linkedin }}">Connect on LinkedIn</a></li>
          <li><a class="buttons github" href="{{ site.github.owner_url }}">Check out my GitHub</a></li>
          <li><a class="buttons" href="{{ site.github.repository_url }}">Send me an email</a></li>
          <li><a class="buttons" href="tel:{{ site.me.phone }}">Drop a call</a></li>
        </ul>
      </header>

      <section>
        {{ content }}
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>